// mobility support page style sheet

page-startassistance{

ion-content > div.scroll-content {
        overflow: hidden;
 }
    
 .big_card {
    height: 100%;
    border-radius: 15px;
  }

.legende{
    font-size:4vw;text-align: center;height:100%;color:white;
}

.nodetect{
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../assets/imgs/assistimg.jpg");
  
}

.goodpose{
  height: 100%;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgb(238,238,238);
  background-image: url("../assets/imgs/goodpose.png");
}

.badpose{
  height: 100%;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgb(238,238,238);
  background-image: url("../assets/imgs/badpose.png");
}

.btnwalk{
    background-color: rgb(58,167,72);
    height:60%;
    //border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 100%;
    text-align: center;
}
.btnstop{
    background-color: rgb(209,0,25);
    height:100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 100%;
    text-align: center;
}


.item_on_off{
    height:100%;
    width: 100%;
}


.icon_style{
    font-size: 10vw;
}

.ion_walk_info{
    height:100%;
}


.item_style{
    height: 100%;
    width: 100%;
    background-size: cover;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.75);
}

.scroll-content{
    justify-content: center;
    display: flex!important;
    align-items: center!important;
}

.heightstyle {
    width: 100%;
    height: 100%;
  }
.heightstyle10 {
    width: 100%;
    height: 10%;
  }
  .heightstyle20 {
    width: 100%;
    height: 20%;
  }

  .heightstyle80 {
    width: 100%;
    height: 80%;
  }

  .heightstyle90 {
    width: 100%;
    height: 90%;
  }

}