<!-- mail page html template -->
<ion-header no-border>
  <headpage pageName="mail"></headpage>
</ion-header>


<ion-content class="big-ion-content" padding >
  <ion-card text-center class="big_card" >
    <ion-grid class="heightstyle">
      <ion-item >
        <ion-label class="labelcss" stacked>{{param.datatext.receivepic}}</ion-label>
        <ion-toggle
              [checked]="this.param.robot.send_pic ==1 "
              (ionChange)="update_send_pic()"
              item-end
            ></ion-toggle>
            <ion-icon
              class="iconscss"
              name="camera"
              item-start
              color="primary"
            ></ion-icon>
      </ion-item>
        <ion-item >
          <ion-label class="txt" stacked>{{param.datatext.newmail}}</ion-label>
          <ion-input inputmode="email" [(ngModel)]="inputmail" placeholder="kompai@gmail.com"></ion-input>
          <button *ngIf="is_a_mail(inputmail)" class="btn-add" (mouseup)="popup.displayrgpd($event)" item-end>
            <ion-icon  color="light" name="add"></ion-icon>
          </button>
          <button *ngIf="!(is_a_mail(inputmail))" class="mailnotvalid" (mouseup)="addMail($event)" item-end>
            <ion-icon  color="light" name="add"></ion-icon>
          </button>
        </ion-item>
       
        <ion-content
        #content1
        style="height: 80%; width: 100%; background-color: transparent;"
      >
        
          <ion-item *ngFor="let m of this.param.maillist">
            <ion-icon class="iconscss" name="at" item-start color="primary"></ion-icon>{{m}}
            <button class="btn-trash" item-end (mouseup)="removeMail($event,m)">
              <ion-icon class="btn-trash" name="trash"></ion-icon>
            </button>
          </ion-item>
        
        </ion-content>
    
    </ion-grid> 

</ion-card>
 

</ion-content>

