<!-- mobility support html template -->
<ion-header no-border>
  <headpage pageName="free_assistance"></headpage>
</ion-header>

<ion-content padding class="content">

  <ion-grid class="main_ion_grid">
    <ion-row responsive-sm class="ionrow">

      <ion-col col-sm-3 no-padding>

        <ion-item class="itemselect" *ngIf="api.walker_states.status!=3 && !api.towardDocking">
          <ion-label fixed style=" color:white; margin-left: 10px;">{{param.datatext.speed}}</ion-label>
          <ion-select #select1 okText={{this.param.datatext.btn_ok}} cancelText={{this.param.datatext.btn_cancel}}
            class="myCustomSelect" [selectOptions]="selectOptions" [(ngModel)]="api.selectSpeed"
            placeholder={{param.datatext.choose_speed}} (mouseup)="onSliderRelease($event,select1)">
            <ion-option [value]=0.1>10 cm/s</ion-option>
            <ion-option [value]=0.2>20 cm/s</ion-option>
            <ion-option [value]=0.3>30 cm/s</ion-option>
            <ion-option [value]=0.4>40 cm/s</ion-option>
            <ion-option [value]=0.5>50 cm/s</ion-option>
            <ion-option [value]=0.6>60 cm/s</ion-option>
            <ion-option [value]=0.7>70 cm/s</ion-option>

          </ion-select>
        </ion-item>
        <ion-item class="itemselectwalkzone" *ngIf="api.walker_states.status!=3 && !api.towardDocking">
          <ion-label fixed style=" color:white; margin-left: 10px;">{{param.datatext.walkzone}}</ion-label>
          <ion-select #select2 okText={{this.param.datatext.btn_ok}} cancelText={{this.param.datatext.btn_cancel}}
          class="myCustomSelect" [selectOptions]="selectOptionsWalkZone" [(ngModel)]="api.selectWalkZone"
            placeholder={{param.datatext.choose_walkzone}} (mouseup)="onSliderRelease($event,select2)">
            <ion-option [value]=0.4>40 cm</ion-option>
            <ion-option [value]=0.45>45 cm</ion-option>
            <ion-option [value]=0.5>50 cm</ion-option>
            <ion-option [value]=0.55>55 cm</ion-option>
            <ion-option [value]=0.6>60 cm</ion-option>
            <ion-option [value]=0.65>65 cm</ion-option>
            <ion-option [value]=0.70>70 cm</ion-option>
            <ion-option [value]=0.75>75 cm</ion-option>
            <ion-option [value]=0.80>80 cm</ion-option>
          </ion-select>
        </ion-item>
        <!-- the Go button is disabled if the robot is not connected or if it detects no one -->
        <button (mouseup)="triggerAssist($event)" *ngIf="api.walker_states.status!=3 && !api.towardDocking"
          [disabled]="!api.is_connected || api.walker_states.status===3 || !this.pageenter" class="btnwalk">
          <ion-icon color="light" name="walk" class="icon_style">
            <p class="legende">
              {{this.param.datatext.btn_walk}}
            </p>
          </ion-icon>
        </button>
        <button (mouseup)="triggerAssist($event)" *ngIf="api.walker_states.status===3 || api.towardDocking"
          [disabled]="!this.pageenter" class="btnstop">
          <ion-icon color="light" name="hand" class="icon_style">
            <p class="legende">{{this.param.datatext.btn_stop}}</p>
          </ion-icon>
        </button>

      </ion-col>

      <ion-col no-padding class="colmeter">
        <div class="container vh-100">
          <div class="d-flex flex-column align-items-center">
            <div class="p-1">
              <video #video class="vid" autoplay style="display:none;"></video>
            </div>
            <div class="p-1">
              <canvas #canvas style="display:none;" class="vid"></canvas>
            </div>
          </div>
        </div>
        <ion-item no-padding no-lines class="item_style">
          <p class="distance_text">
            {{this.param.datatext.distance_covered}}
          </p>
          <p class="distance">
            {{api.metercovered}} m
          </p>
          <button ion-button (mouseup)="onRefreshMeter($event)" clear class="refresh">
            <ion-icon name="refresh" class="refreshicon"></ion-icon>
          </button>
        </ion-item>
      </ion-col>

      <ion-col col-sm-3 no-padding>
        <button (mouseup)="sendHelp($event)" *ngIf="api.walker_states.status!=3" [disabled]="is_sendmail"
          class="btnhelp">
          <ion-icon top color="light" name="call" class="icon_style">
            <p class="legende">{{this.param.datatext.btn_help}}</p>
          </ion-icon>
        </button>
        <button (mouseup)="sendHelp($event)" *ngIf="api.walker_states.status===3" [disabled]="is_sendmail"
          class="btnhelp2">
          <ion-icon top color="light" name="call" class="icon_style">
            <p class="legende">{{this.param.datatext.btn_help}}</p>
          </ion-icon>
        </button>
        <div *ngIf="api.walker_states.status===3 && api.position_state===2" no-padding class="goodpose"></div>
        <div *ngIf="api.walker_states.status===3 && api.position_state===1" no-padding class="badpose"></div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>