// mobility support page style sheet

page-freeassistance{

ion-content > div.scroll-content {
        overflow: hidden;
 }
    
.content{
    height:100vh;
}

.main_ion_grid{
    display: flex;
    flex-direction: column;
    height: 100% !important;
}

.legende{
    font-size:4vw;text-align: center;height:100%;color:white;
}
.ionrow{
    border-width: 3px;
    border-radius: 15px;
    border-color: #F5F5F5;
    -webkit-flex: 0 1 100% !important;
}

.itemselect{
    
    height: 10%;
    border-top-left-radius: 15px;
    background-color: rgba($color: #000000, $alpha: 0.65);
}

.itemselectwalkzone{
    
    height: 10%;
    background-color: rgba($color: #000000, $alpha: 0.65);
}



.myCustomSelect{
    font-size:1.5vw;
    
    margin: 0px !important;
    border-top-left-radius: 15px;
    //border-radius: 15px;
    min-width: 60%;
    max-width: 100;
    //height: 10%;
    //width: 100%;
    color:white;
    background-color: rgba($color: #000000, $alpha: 0);
   }

.btnwalk{
    background-color: rgb(58,167,72);
    height:80%;
    //border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 100%;
    text-align: center;
}
.btnstop{
    background-color: rgb(209,0,25);
    height:100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 100%;
    text-align: center;
}

.btnhelp{
    background-color:rgba(137, 138, 137, 0.911);
    height:100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100%;
    text-align: center;
}

.btnhelp2{
    background-color:rgba(137, 138, 137, 0.911);
    height:50%;
    border-top-right-radius: 15px;
    width: 100%;
    text-align: center;
}

.item_on_off{
    height:100%;
    width: 100%;
}

.colmeter{
    height: 100%;
    background-size: cover;
    background-image: url("../assets/imgs/assistimg.jpg");
    
}

.icon_style{
    font-size: 10vw;
}

.ion_walk_info{
    height:100%;
}

.distance_text{
    font-size:3vw;text-align: center;color :black;
}

.distance{
    font-size:7vw;text-align: center;height:100%;color:black;
}
.refreshicon{
    zoom:4;
}
.refresh{
    height:50px !important;
    color:rgba(0, 0, 0, 0.89);
    //position: fixed;
    bottom: 3px;
    //margin:0 !important;
  
}

.item_style{
    height: 100%;
    width: 100%;
    background-size: cover;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.75);
}

.scroll-content{
    justify-content: center;
    display: flex!important;
    align-items: center!important;
}

.goodpose{
    height: 50%;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(238,238,238);
    border-bottom-right-radius: 15px;
    background-image: url("../assets/imgs/goodpose.png");
  } 

.badpose{
    height: 50%;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(238,238,238);
    border-bottom-right-radius: 15px;
    background-image: url("../assets/imgs/badpose.png");
    }
}