<!-- password page html template -->
<ion-header no-border>
    <headpage pageName="password"></headpage>
  </ion-header>
  
  
  <ion-content padding >
    <ion-grid class="main_ion_grid">
        <div style="background-color: rgb(255, 255, 255); border-radius: 15px; height: 60%; width: 60%; ">
    
        <ion-row style="height: 25%;justify-content: center!important; align-items: center!important;">
          <ion-item style="width: 90%;">
          <ion-label style="font-size: x-large; min-width: 30% !important;
          max-width: 30% !important;">{{param.datatext.currentpswd}}</ion-label>
          <ion-input minlength=2 maxlength=15 [(ngModel)]="password" style="font-size: xx-large; color: rgb(26, 156, 195);"  required></ion-input>
       </ion-item>
          
        </ion-row>
        
    
        <ion-row style="height: 25%;justify-content: center!important; align-items: center!important;">
          <ion-item style="width: 90%;">
          <ion-label style="font-size: x-large; min-width: 30% !important;
          max-width: 30% !important;">{{param.datatext.newpswd}}</ion-label>
          <ion-input [(ngModel)]="newpassword" minlength=2 maxlength=15 style="font-size: xx-large; color: rgb(26, 156, 195);" required></ion-input>
          </ion-item>
          
        </ion-row>
       <ion-row style="height: 20%; justify-content: center!important; ">
          <p *ngIf="warn" style="color: red; font-size: large;">** {{param.datatext.wrongpass}} **</p>
        </ion-row>
        <ion-row style="height: 25%;justify-content: center!important; align-items: center!important;">
          <button [disabled]="2>this.newpassword.length" ion-button solid large class="btn_login" (mouseup)="editpassword($event)"> 
            <!-- the text of the button depends on the page you are on -->
            <font class="font_menu_size" >{{param.datatext.save}}</font>
          </button>
     
        </ion-row>
        </div>
       </ion-grid>
  
  </ion-content>
  